body {
  font-family: Open Sans, sans-serif;
  background-color: green;

}


h1,
h2,
h3 {
  color: rgb(238, 130, 238);

}

p,
li {
  color: #000;
}

legend,
fieldtest {
  color: powderblue;
}

.rate {
  color: powderblue;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(106, 265, 90);
  color: black;
